@page
@model BioLab.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<body>
<script>

window.onload = function () {

        var select = document.getElementById('myselect');
        let numberseat;

        select.addEventListener("change", function () {
            numberseat = this.value;
        });

        document.getElementById("bookbutton").addEventListener("click", function () {
            myFunction(numberseat);
        });

        function myFunction(x) {
            var text = "You have booked " + x + " seats.";
            alert(text);
        }
 }

</script>
    <div>
        @Html.DisplayFor(model => model.Showtime.ShowtimeMovie.MoviePlot)
        <br /><br />
        Antal lediga platser:
        @Html.DisplayFor(model => model.Showtime.OpenSeats)

    </div>
    <form method="post">
        <input type="hidden" asp-for="Showtime.Id" />
        <fieldset>
            <legend>Choose number of seats</legend>
            <div class="form-group">
                <label asp-for="Showtime.NumberOfBookedSeats">Example select</label>
                <select asp-for="Showtime.NumberOfBookedSeats" class="form-control" id="myselect" value="1">
                    @for (int i = 1; i <= Model.Showtime.OpenSeats && i <= 12; i++)
                    {
                        <option>@i</option>
                    }
                </select>               
            </div>
            <button type="submit" class="btn btn-primary" id="bookbutton">Book</button>
        </fieldset>
    </form>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
