@page
@model BioLab.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<body onload="myFunction()">

    <div>   
        @Html.DisplayFor(model => model.Showtime.ShowtimeMovie.MoviePlot)
        <br /><br />
        Antal lediga platser:
        @Html.DisplayFor(model => model.Showtime.NumOfSeats)

    </div>
    <form asp-action="BookSeats" asp-route-id="@Model.Showtime.Id">
        <fieldset>
            <legend>Choose number of seats</legend>           
            <div class="form-group">
                <label asp-for="Showtime.NumberOfBookedSeats">Example select</label>
                <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>  
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
