@page
@model BioLab.EditModel

@{
    ViewData["Title"] = "Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Booking</h1>

<h2 style="text-align:center"> @Html.DisplayFor(model => model.Showtime.ShowtimeMovie.MovieTitle)</h2>
<hr />
<body>
<script>

window.onload = function () {

        var select = document.getElementById('myselect');
        let numberseat = 1;

        select.addEventListener("change", function () {
            numberseat = this.value;
        });

        document.getElementById("bookbutton").addEventListener("click", function () {
            myFunction(numberseat);
        });

        function myFunction(x) {
            var text = "You have booked " + x + " seats.";
            alert(text);
        }
 }

</script>
    <div>
        @Html.DisplayFor(model => model.Showtime.ShowtimeMovie.MoviePlot)
        <br /><br />
        Available seats:
        @Html.DisplayFor(model => model.Showtime.OpenSeats) <br /><br />

    </div>
    <form method="post">
        <input type="hidden" asp-for="Showtime.Id" />
        <fieldset>
           
            <div class="form-group">
                <label asp-for="Showtime.NumberOfBookedSeats" style="font-size:130%"> Choose number of seats </label>
                <select asp-for="Showtime.NumberOfBookedSeats" class="form-control" id="myselect">
                    <option selected>1</option>
                    @for (int i = 2; i <= Model.Showtime.OpenSeats && i <= 12; i++)
                    {
                        <option>@i</option>
                    }
                </select>               
            </div>
            <button type="submit" class="btn btn-primary" id="bookbutton">Book</button>
        </fieldset>
    </form>

    <div style="text-align:center">
        <a  asp-page="./Index">Back to List</a>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
