@page
@model BioLab.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div>
    Booking confirmation
    @Html.DisplayFor(model => model.Showtime.ShowtimeMovie.MoviePlot)
    <br />
    Antal platser bokade:
    <h1>"The value for number is: " <span id="myText"></span></h1>

</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
