@page
@model BioLab.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@if (Model.Showtimes.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div>Title</div>
                </th>
                <th>
                    <div>Picture</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Showtimes)
            {

                <tr>
                    <td>
                        <h2>@Html.DisplayFor(modelItem => item.ShowtimeMovie.MovieTitle)</h2> <br /><br /><br />
                        @Html.DisplayFor(modelItem => item.ShowtimeMovie.MoviePlot)<br />
                        @Html.DisplayFor(modelItem => item.NumOfSeats)
                    </td>
                    <td class="w-50 mt-4">
                        <img src=@item.ShowtimeMovie.MoviePoster class="img-thumbnail">
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Info / Book seats</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="container text-center">
        <a asp-page-handler="Seed" class="btn btn-dark w-25 m-1">Seed</a>
    </div>
}